.vscode

plaintext
Copy code
# Compiled class files
bin/

# Package files
*.jar

# Generated Javadoc documentation
javadoc/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Operating System files
.DS_Store
Thumbs.db

# Dependency directories
lib/